*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  /*display: grid;
  justify-content: center;
  align-items: end;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;*/
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}


.content {
  display: grid;
  column-gap: 30px;
  max-inline-size: 1140px;
  block-size: 100%;
  align-content: center;
  align-items: end;
  grid-template-columns: 711px auto;
  padding-inline-start: 30px;
}

.result__video-container {
  max-inline-size: 711px;
  max-block-size: 386px;
  margin-block-end: 17px;
  position: relative;
}

.result__video {
  inline-size: 711px;
  block-size: 386px;
  object-fit: cover;
}

.search-form {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-block-end: 5px;
}

.search-form__label {
  display: inline-flex;
  width: fit-content;
  margin-block-start: 5px;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #FFF;
}
/*
.search-form__label:hover:not(:nth-child(1)){
  text-decoration: underline;
}
для того, чтобы при наведении на блок чекбокса выделялся текст, а не только при наведении на текст
*/

.search-form__label-text:hover {
  text-decoration: underline;
  cursor: pointer;
}

.search-form__pseudo-checkbox {
  inline-size: 19px;
  block-size: 19px;
  border: 1px solid #FFF;
  margin-inline-end: 5px;
  cursor: pointer;
  position: relative;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before  {
  content: '';
  background-color: #FFF;
  inline-size: 15px;
  block-size: 15px;
  inset: 1px;
  position: absolute;
}

.search-form__textfield {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  font-size: 18px;
  line-height: 21.6px;
  font-weight: 400;
  inline-size: 225px;
  border-width: 1px 0px 1px 0px;
  border-style: solid;
  border-color: #FFFFFF;
  appearance: none;
}

.search-form__textfield:active {
  border: 1px solid #FFF;
}

.search-form__textfield:focus-visible {
  outline: none;
}

.search-form__fieldset {
  border: none;
  max-inline-size: 212px;
  max-block-size: 49px;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 16px;
}

.button {
  cursor: pointer;
  background-color: transparent;
  color: #FFF;
  font-family: inherit;
  font-size: 18px;
  line-height: 21.6px;
  font-weight: 700;
  border: 1px solid #FFF;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
}

.button:focus-visible {
  outline: 1px solid #FFF;
  outline-offset: 1px;
}

.search-form__submit-button {
  padding: 6px 72.5px;
  margin-block-end: -5px;
}

.content__details {
  grid-column: 2/3;
  block-size: 100%;
  inline-size: 100%;
  
}

.title {
  font-family: Oswald, sans-serif;
  margin-block-end: 26px;
  font-size: 75px;
  font-weight: 700;
  line-height: 70.5px;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  max-block-size: 298px;
  inline-size: 399px;
  overflow: auto;
  position: relative;
}

.content__list-item {
  margin-block-end: 30px;
}

.content__list-item:nth-last-child(2) {
  margin-block-end: 0;
}

.content__card-link {
  text-decoration: none;
  color: #FFFFFF;
  display: block;
  margin: 2px;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #FFF;
}

.content__card-link_current:focus-visible {
  outline: 1px solid #FFF;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  block-size: 107px;
  inline-size: 398px;
  display: flex;
  align-content: flex-start;
  justify-content: space-between;
}

.content__video-card:active {
  background-color: #545050;
}

.content__video-card:focus-visible:focus {
  outline: none;
}

.content__video-card:focus-visible:focus-visible {
  outline: 1px solid #FFF;
}

.content__video-card-description-container {
  inline-size: 200px;
  block-size: 101px;
}

.content__video-card-description-container:hover {
  text-decoration: underline;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  margin-block-end: 6px;
}

.content__video-card-description {
  font-weight: 400;
  line-height: 16.2px;
}


.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
  left: -2px;
  position: relative;
}

.more-button {
  padding: 6px 146.5px;
  white-space: nowrap;
  margin-block-start: 30px;
  inline-size: 399px;
  block-size: 34px;
}