*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  /*display: grid;
  justify-content: center;
  align-items: end;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;*/
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: grid;
  column-gap: 30px;
  max-inline-size: 1140px;
  block-size: 100%;
  align-content: center;
  align-items: end;
}

.result__video-container {
  max-inline-size: 711px;
  max-block-size: 456px;
  margin-block-end: 16px;
  position: relative;
}

.result__video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.content__details {
  grid-column: 2/3;
  block-size: 100%;
  inline-size: 100%;
  
}

.title {
  margin-block-end: 26px;
}

.content__list {
  max-block-size: 298px;
  overflow: scroll;
  position: relative;
}

.content__list-item {
  margin-block-end: 30px;
}

.content__list-item:nth-last-child(2) {
  margin-block-end: 0;
}

.content__video-card {
  display: flex;
  align-content: flex-start;
  justify-content: space-between;
}

.content__video-card-description-container {
  inline-size: 100%;
  block-size: 100%;
}

.content__video-card-thumbnail {
  max-inline-size: 194px;
  max-block-size: 103px;
}